<div>
<section class="bg-gray-50 dark:bg-gray-900">
  <div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
  >
    <a
      href="#"
      class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white"
    >
      <img
        class="w-8 h-8 mr-2"
        src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg"
        alt="logo"
      />
      Flowbite
    </a>
    <div
      class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1
          class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
        >
          Create an account
        </h1>
        <form
          class="space-y-4 md:space-y-6"
          [formGroup]="registroForm"
          (ngSubmit)="registrar()"
        >
          <div>
            <label
              for="nombre"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Nombre</label
            >
            <input
              formControlName="nombre"
              type="text"
              name="nombre"
              id="nombre"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Ingresa tu nombre"
              required=""
            />
            @if(registroForm.get('nombre')?.invalid &&
            registroForm.get('nombre')?.touched){
            <span class="text-red-500 text-sm">El nombre es obligatorio</span>
            }
          </div>
          <div>
            <label
              for="profesion"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Profesion</label
            >
            <input
              formControlName="profesion"
              type="text"
              name="profesion"
              id="profesion"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Ingresa tu profesion"
              required=""
            />
            @if(registroForm.get('profesion')?.invalid &&
            registroForm.get('profesion')?.touched){
            <span class="text-red-500 text-sm">La profesion es obligatoria</span>
            }
          </div>
          <div>
            <label
              for="fechaNacimiento"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Fecha de nacimiento</label
            >
            <input
              formControlName="fechaNacimiento"
              type="date"
              name="fechaNacimiento"
              id="fechaNacimiento"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              required=""
            />
            @if(registroForm.get('fechaNacimiento')?.invalid &&
            registroForm.get('fechaNacimiento')?.touched){
            <span class="text-red-500 text-sm">La fecha es incorrecta </span>
            }
          </div>
          <div>
            <label
              for="email"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Email</label
            >
            <input
              type="email"
              formControlName="email"
              name="email"
              id="email"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Ingresa tu correo"
              required=""
            />
            @if(registroForm.get('email')?.invalid &&
            registroForm.get('email')?.touched){
            <span class="text-red-500 text-sm">El email es incorrecto</span>
            }
          </div>
          <div>
            <label
              for="password"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Password</label
            >
            <input
              formControlName="password"
              type="text"
              name="password"
              id="password"
              placeholder="Ingresa tu constraseña"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              required=""
            />
            @if(registroForm.get('password')?.invalid &&
            registroForm.get('password')?.touched){
            <span class="text-red-500 text-sm">La contraseña es incorrecta</span>
            }
          </div>
          <button
            type="submit"
            class="w-full text-white bg-blue-600 cursor-pointer hover:bg-emerald-400 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
          >
            Create an account
          </button>
        </form>
        @if(registroForm.get('profesion')?.value){
            <div class="text-sm mt-4 text-blue-600 flex justify-center">
                {{registroForm.get('profesion')?.value|profesion}}
            </div>
        }
                @if(registroForm.get('fechaNacimiento')?.value){
            <div class="text-sm mt-4 text-blue-600 flex justify-center">
               Edad Estimada: {{registroForm.get('fechaNacimiento')?.value|edad}} años
            </div>
        }
      </div>
    </div>
  </div>
</section>
</div>
